.overlay {
    background-color: rgba(0, 0, 0, 0.533);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 30%;

    &__icon {
        color: rgb(255, 255, 255);
        transition: 0.6s;
        font-size: 8em;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: rgb(185, 185, 185);

        }

    }
}